.container {
    margin: 50px auto 50px;
    max-width: 650px;
    font-family: 'BlinkMacSystemFont', sans-serif;
    line-height: 1.5;
  }
  
  .heading {
    margin-top: 50px;
    color: #d62728;
    font-size: 48px;
  }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .nav-link-item {
    padding-right: 1rem;
  }
  .nav-link-text {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
  .nav-link-text:hover {
    text-decoration: underline;
  }