.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .nav-link-item {
    padding-right: 1rem;
  }
  .nav-link-text {
    color:#1d1d1d;
    font-weight: bold;
    text-decoration: none;
  }
  .nav-link-text:hover {
    text-decoration: underline;
  }
  .nav-link-footer{
    color: #545454;
    text-decoration: none;

  }
  .nav-link-footer:hover {
    text-decoration: underline;
  }
  .nav-right {
    display: flex;
    align-items: flex-end; /* Aligns the image with the bottom of the text */
  }
  .navKey {
    max-width: 120px;
    margin-bottom: 20px;
  }